
progress {
    width: 100%;
}

img.icon {
   height: 16px;
   padding-left: 10px;
   padding-right: 10px;
}

.details {
    padding-left: 20px;
    font-size: smaller;
}

.messages {
    padding-left: 20px;
}

.counters {
    font-size: smaller;
}

[status='status_created'] {
    color: darkgray;
}

[status='status_analysing'] {
    color: darkgray;
}

[status='status_failure'] {
    color: red;
}

[status='status_need_action'] {
    color: orange;
}

[status='status_acting'] {
    color: blue;
}

[status='status_acted_success'] {
    color: lightblue;
}

[status='status_acted_failure'] {
    color: red;
}

x-file {
    display: block;
    border: 1px black solid;
    padding: 5px;
    margin: 5px;
}

/*
[status='status_success'] {
    display: none;
}
*/


/** Tooltips */
[data-tooltip] {
    position:relative;
}

[data-tooltip]:before {
    position : absolute;
    content : attr(data-tooltip);
    background-color: rgb(248, 237, 191);
    padding: 2px;
    left: 10px;
    top: 10px;

    opacity : 0;
}

[data-tooltip]:hover:before {
    opacity : 1;
}
