
progress {
    width: 100%;
}

img.icon {
   height: 16px; 
   padding-left: 10px;
   padding-right: 10px;
}

.details {
    padding-left: 20px;
    font-size: smaller;
}

.messages {
    padding-left: 20px;
}

[status='status_created'] {
    color: darkgray;
}

[status='status_analysing'] {
    color: darkgray;
}

[status='status_success'] {
    display: none;
}

[status='status_failure'] {
    color: red;
}

[status='status_need_action'] {
    color: orange;
}

[status='status_acting'] {
    color: blue;
}

[status='status_acted_success'] {
    color: lightblue;
}

x-task[status='status_acted_success'] {
    display: none;
}

[status='status_acted_failure'] {
    color: red;
}

x-file {
    display: block;
    border: 1px black solid;
    padding: 5px;
    margin: 5px;
}
